@import "./variables.scss";

.footer {
  width: 100%;
  background-color: $grey_color;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: $primary_color;
  .top_bar {
    margin: 0 auto;
    width: 85%;
    display: flex;
    .column_footer {
      width: 33.3%;
      text-align: left;
      padding-right: 1rem;
      h4 {
        text-transform: uppercase;
        font-family: $secondary_font;
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 1.2rem;
        a {
          color: $primary_color;
          letter-spacing: 0.1rem;
          text-decoration: none;
          transition: 0.3s color ease;
          &:hover {
            color: $main_blue;
          }
        }
      }
      div {
        font-family: $secondary_font;
        justify-self: center;
        width: 100%;
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
        span {
          margin-left: 0.8rem;
        }
        p {
          margin: 0.5rem 0;
        }
      }
      img {
        max-width: 20vh;
      }
    }
    #logo_footer {
      text-align: center;
      .social {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        justify-content: space-around;
        width: 50%;
      }
      a {
        text-decoration: none;
        color: $primary_color;
        width: auto;
        transition: 0.3s color ease;
        &:hover {
          color: $main_blue;
        }
        i {
          font-size: 2.5rem;
        }
      }
    }
  }
  .bottom_bar {
  }
}
