@import "./variables.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $primary_font;

  #main_nav {
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      background: none;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
      line-height: 2.5rem;

      .logo {
        display: block;
        font-size: 20px;

        a {
          display: block;
          padding: 1rem 0.3rem;
          text-decoration: none;
          color: inherit;

          img {
            max-width: 12vw;
            height: auto;
            display: block;
          }
        }
      }

      .menu_item {
        cursor: pointer;
        text-align: center;
        display: block;
        width: auto;
        color: $grey_color;
        text-transform: uppercase;
        padding: 0.62rem 1.3rem;

        a {
          display: block;
          padding: 1rem 0.3rem;
          text-decoration: none;
          color: inherit;
          position: relative;

          &:hover {
            color: $hover_blue;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $hover_blue;
          }

          &.active::after {
            width: 100%;
          }

          &.active {
            color: inherit;
            &:hover {
              color: $hover_blue;
            }
          }
        }
      }
    }
  }
}
