@import "./variables.scss";
@import "./animations.scss";

.donation,
.gift,
.transport,
.volunteer {
  background-color: $grey_background;
  &.visible {
    .left_column h3,
    .right_column i {
      animation-play-state: running;
    }
  }
}

.tax,
.store,
.share {
  background-color: $primary_color;
  &.visible {
    .left_column i,
    .right_column h3 {
      animation-play-state: running;
    }
  }
}

.support_container {
  min-height: 600px;
  max-width: 1000px;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  margin: 0 auto;
  position: relative;
  font-family: $secondary_font;
  .left_column,
  .right_column {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    h3 {
      text-transform: uppercase;
      margin-top: 2rem;
      font-size: 3rem;
      font-weight: 400;
      color: $more_grey_color;
      letter-spacing: 0.1rem;
      margin-bottom: 1.2rem;
      opacity: 0;
      animation-play-state: paused;
      &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        width: 20%;
        min-width: 100px;
        height: 4px;
        background-color: $main_blue;
      }
    }
    p {
      color: $grey_color;
      font-size: 1.2rem;
      line-height: 1.8rem;
      word-spacing: 0.1rem;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
      em {
        display: block;
        margin: 1rem 0;
        font-style: normal;
        color: $main_blue;
        font-weight: bold;
        font-size: 1.5rem;
      }
      span {
        color: $main_blue;
      }
    }
    i {
      font-size: 15rem;
      color: $main_blue;
      opacity: 0;
      animation-play-state: paused;
    }
  }
}

.left_column {
  h3,
  i {
    animation: slideInLeft 1s ease-in-out forwards;
  }
  i {
    text-align: left;
  }
}

.right_column {
  h3,
  i {
    animation: slideInRight 1s ease-in-out forwards;
  }
  i {
    text-align: right;
  }
}

.adopt {
  .banner {
    background-image: url("../assets/images/adoptuj.png");
    .banner__content {
      h1 {
        font-family: $secondary_font;
        font-size: 3.5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
