$primary_font: "Amatic SC", serif;
$secondary_font: "Dosis", serif;
$grey_color: #70706f;
$more_grey_color: #444444;
$grey_background: rgba(241, 243, 245, 0.5);
$main_blue: rgba(168, 211, 218);
$primary_color: white;
